<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    *, *::before, *::after {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      box-sizing: border-box;
      min-height: 100dvh;
      display: flex;
      flex-direction: column;
      &> main { flex-grow: 1 }

      font-family: sans-serif;
    }
  </style>
  {{ .Head }}
</head>
<body>
  <main>
    {{ .Main }}
  </main>
</body>
</html>
